name: Project Support Quality
on:
  push:
  pull_request:
  workflow_call:

jobs:
  staticAnalysis:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v6
      - name: Check for spelling mistakes
        uses: streetsidesoftware/cspell-action@v8
        with:
          inline: error
          incremental_files_only: false
      - name: Check for Markdown issues
        uses: DavidAnson/markdownlint-cli2-action@v22 # cspell:ignore Anson
      - name: Check formatting with Prettier
        uses: creyD/prettier_action@v4.6
        with:
          dry: true
          prettier_options: --check .
